<div class="row">

    <!-- ****** Progres Bar ****** -->

    <div class="col-xs-8">
        <h4>Progress</h4>
        <div class="btn-toolbar">
            <button class="btn"
                    ng-repeat="question in vm.questions"
                    ng-class="{'btn-info': question.answered !== null, 'btn-danger': question.answered === null}"
                    ng-click="vm.switchQuestion($index)">
              <span class="glyphicon"
                  ng-class="{
                    'glyphicon-pencil': question.answered !== null,
                    'glyphicon-question-sign': question.answered === null
                  }">
              </span>
          </button>
        </div>
    </div>
    <!-- End Progress Bar -->

    <!-- ****** Legend ****** -->

    <div class="col-xs-4">
        <div class="row">
            <h4>Legend</h4>
            <div class="col-sm-4">
                <button class="btn btn-info">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
                <p>Answered</p>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-danger">
          <span class="glyphicon glyphicon-question-sign"></span>
        </button>
                <p>Unanswered</p>
            </div>
        </div>
    </div>
    <!-- End Legend -->

</div>
