<div class="row question">

  <!-- ****** Error Alert ****** -->
  <div class="alert alert-danger" ng-show="vm.error">
    You have not answered all questions!
    <button class="close" ng-click="vm.error = false">&times</button>
  </div>
  <!-- End Error Alert -->

  <div ng-hide="vm.finalize">
    <h3>Question:</h3>

    <!-- ****** Question Box ****** -->
    <div class="panel panel-info" >
      <div class="panel-heading">
        <h4><strong>{{vm.activeQuestionIndex + 1 + ". "}}</strong>{{vm.activeQuestion.text}}</h4>
      </div>
      <!-- ****** Answers ****** -->
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6" ng-repeat="posibility in vm.activeQuestion.possibilities">
            <h4 class="answer"
                ng-class="{'answer-info': $index === vm.activeQuestion.answered}"
                ng-click="vm.selectAnswer($index)">
                {{posibility.answer}}
            </h4>
          </div>
        </div>
      </div>
      <!-- End Answers -->
    </div>
    <!-- End Question Box -->

    <!-- ****** Continue Button ****** -->
    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="btn btn-warning pull-right" ng-click="vm.questionAnswered()">Continue</button>
      </div>
    </div>
    <!-- End Continue Button -->
  </div>

  <!-- ****** Continue User Prompt ****** -->
  <div class="panel panel-default panel-question" ng-show="vm.finalize">
      <div class="panel-body panel-prompt">
        <div class="buttonHolder">
          <h1>Are you sure you want to submit your answers?</h1>
          <button class="btn btn-success" ng-click="vm.finalizeAnswers()" href="#" ui-sref="home.results">Yes, submit my answers</button>
          <button class="btn btn-danger" ng-click="vm.finalize = false">No, take me back</button>
        </div>
      </div>
  </div>
  <!-- End Continue User Prompt -->

</div>
