<div class="row">

  <!-- ****** Error Alert ****** -->
  <div class="alert alert-danger" ng-show="vm.error">
    You have not answered all questions!
    <button class="close" ng-click="vm.error = false">&times</button>
  </div>
  <!-- End Error Alert -->

  <h3>Question:</h3>

  <!-- ****** Question Box ****** -->
  <div class="well well-sm" ng-hide="vm.finalize">

    <!-- ****** Answers ****** -->
    <div class="row">
      <div class="col-xs-12">
        <h4>{{vm.activeQuestionIndex + 1 + ". " + vm.activeQuestion.text}}</h4>
        <div class="row">
          <div class="col-sm-6" ng-repeat="posibility in vm.activeQuestion.possibilities">
            <h4 class="answer"
                ng-class="{'answer-info': $index === vm.activeQuestion.answered}"
                ng-click="vm.selectAnswer($index)">
                {{posibility.answer}}
            </h4>
          </div>
        </div>
      </div>
    </div>
    <!-- End Answers -->

    <!-- ****** Continue Button ****** -->
    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="btn btn-warning pull-right" ng-click="vm.questionAnswered()">Continue</button>
      </div>
    </div>
    <!-- End Continue Button -->

  </div>
  <!-- End Question Box -->

  <!-- ****** Continue User Prompt ****** -->
  <div class="well well-sm" ng-show="vm.finalize">
    <div class="row">
      <div class="col-xs-12">
        <h3>Are you sure you want to submit your answers?</h3>
        <button class="btn btn-success" ng-click="vm.finalizeAnswers()" href="#" ui-sref="home.results">Yes</button>
        <button class="btn btn-danger" ng-click="vm.finalize = false">No</button>
      </div>
    </div>
  </div>
  <!-- End Continue User Prompt -->

</div>
