<!-- Navbar -->
<div ng-include="'quiz/views/_navbar.html'"></div>
<!-- End Navbar -->


<!-- Quiz List -->
<div class="quizzes" ng-show=vm.indexMode>

  <div class="row">

    <!-- Quiz card -->
    <div class="col-xs-18 col-sm-6 col-md-4" ng-repeat="quiz in vm.filteredList | filter:vm.search">
      <div class="thumbnail">
        <img ng-src="{{quiz.image}}">
          <div class="caption">
            <h4>{{quiz.title}}</h4>
            <p><small>Category: {{quiz.category.name}}</small></p>
            <p class="description">{{ quiz.description }}</p>
            <a ui-sref="home.learn({id: quiz.id})" class="btn btn-info btn-sm btn-info" role="button">Teach Me
            <span class="glyphicon glyphicon-book"></span></a>
            <a ng-click="vm.editQuiz(quiz.id)" class="btn btn-default btn-sm btn-warning" role="button">Add Question
              <span class="glyphicon glyphicon-log-in"></span></a>
        </div>
        <div class="caption">
          <p><em><small>*Select how many questions would you like out of  </small>{{quiz.questions.length}}</em></p>
          <div class="row">

            <div class="col-xs-6">
              <input type="number"
                     class="form-control input-box text-center"
                     ng-value="{{quiz.questions.length}}"
                     ng-model="vm.questionsNumber[$index]"
                     min="1"
                     max="{{quiz.questions.length}}">
            </div>

            <div class="col-xs-6">
              <button class="btn btn-success pull-right"
                      ui-sref="home.quiz({id: quiz.id})"
                      ng-click="vm.setNumQuestions(vm.questionsNumber[$index])">
                Quiz Me!
                <span class="glyphicon glyphicon-list-alt"></span>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div><!-- end quiz card -->

  </div>

</div>
<!-- End Quiz List -->


<!-- Create section -->
<div class="create" ng-show="vm.createMode">

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">

          <div class="row">
              <h1>Create Quiz <span class="glyphicon glyphicon-pencil"></span></h1>
          </div>
          <hr>
          <!-- Add Quiz Form -->
          <div class="row">
            <form name="form" ng-submit="vm.createQuiz()">

                <label>Title:  <em><small class="muted">* Required - must have between 2 and 24 characters</small></em></label>

                <div class="form-group">
                  <input class="form-control"
                          name="title"
                          type="text"
                          ng-model="vm.newQuiz.title"
                          placeholder="Add title here ..."
                          minlength="2"
                          maxlength="24"
                          required="required">
                </div>

                <label>Category:  <em><small class="muted">* Required </small></em></label>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <select class="form-control"
                              ng-model="vm.newQuiz.category_id"
                              ng-options="category.id as category.name for category in vm.categories"
                              name="category"
                              required>
                        <option value="">--Please select a Category--</option>
                      </select>
                    </div>
                  </div>
                </div>

                <label>Image URL:  <em><small class="muted">Optional - add a image URL</small></em></label>

                <div class="form-group">
                  <input class="form-control"
                          name="image"
                          type="text"
                          ng-model="vm.newQuiz.image"
                          placeholder="Add image URL here ..."
                          minlength="7">
                </div>


                <label>Description: <em><small class="muted">Optional maximum 200 characters</small></em></label>

                <div class="form-group">
                  <textarea class="form-control"
                            rows="3"
                            ng-model="vm.newQuiz.description"
                            maxlength="200"
                            placeholder="Add description here ...">
                  </textarea>
                </div>

                <input class="btn btn-lg btn-success pull-right" type="submit" value="Create Quiz">
            </form>
          </div>
          <!-- End Quiz Form -->
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3 col-sm-offset-5">
        <button class="btn btn-lg btn-danger" ng-click="vm.activate()">Take Me Back</button>
      </div>
    </div>
</div>
<!-- End Create Section -->


<!-- Edit Section -->
<div class="edit" ng-show="vm.editMode">

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>{{vm.currentQuiz.title}}</h1>
      <p>{{vm.currentQuiz.description}}</p>
    </div>
  </div>

  <!-- Partial -->
  <div ng-include="'quiz/views/_add_question.html'"></div>

</div>
<!-- End Edit Section -->
