<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="" ng-click="vm.activate()">QuizMe! <span class="glyphicon glyphicon-check"></span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="">Filter by Category</a></li>

                      <form class="navbar-form navbar-left">
                        <div class="form-group">
                          <select class="form-control"
                                  ng-options="category.name for category in vm.categories"
                                  ng-model="vm.category"
                                  ng-change="vm.filterByCategory()">
                                  <option value="">-- All Categories --</option>
                          </select>
                        </div>
                      </form>

                </ul>


                <ul class="nav navbar-nav navbar-right" ng-hide="vm.editMode">

                    <!--  Search Box  -->
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <div class="inner-addon right-addon">
                                <i class="glyphicon glyphicon-search"></i>
                                <input type="text" placeholder="Search..." class="form-control" ng-model="vm.search">

                            </div>
                        </div>
                        <button type="submit"
                                class="btn btn-info"
                                ng-click="vm.addQuiz()">
                                Add Quiz
                                <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </form>
                    <!-- End of Search Box -->

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
