<div class="row" ng-hide="vm.finalize">

    <!-- ****** Progres Bar ****** -->
    <div class="col-xs-8 pogress">
        <h4>Progress</h4>
        <div class="btn-toolbar">
            <button class="btn"
                    ng-repeat="question in vm.questions"
                    ng-class="{'btn-info': question.answered !== null, 'btn-danger': question.answered === null}"
                    ng-click="vm.switchQuestion($index)">
              <span class="glyphicon"
                  ng-class="{
                    'glyphicon-check': question.answered !== null,
                    'glyphicon-log-in': question.answered === null
                  }">
              </span>
          </button>
        </div>
    </div>
    <!-- End Progress Bar -->

    <!-- ****** Legend ****** -->
    <div class="col-xs-4">
      <div class="buttonHolder top-buffer">
        <div class="row legend">
            <div class="col-sm-4">
                <button class="btn btn-info">
          <span class="glyphicon glyphicon-check"></span>
        </button>
                <p>Answered</p>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-danger">
          <span class="glyphicon glyphicon-log-in"></span>
        </button>
                <p>Unanswered</p>
            </div>
        </div>
      </div>
    </div>
    <!-- End Legend -->

</div>
<!-- End Row -->
