/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 *= require_self
 */

.well-img {
  width: 100%;
  height: 162px;
}

.top-buffer {
  margin-top: 30px;
}

.description {
  text-align: justify;
}

/* ###### Search Box ###### */

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 15px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


/* ###### Answers ###### */

.answer {
  padding: 15px 20px;
  border: 1px solid #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #bbb;
}

.answer:hover {
  cursor: pointer;
}

.answer-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.answer-danger {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.answer-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
