<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>QuizMe!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container main">
      <%= yield %>
    </div>
  </body>

  <div class="container-fluid">
    <!-- Footer -->
    <footer class="footer-bs">
      <div class="row">
        <div class="col-md-4 footer-brand animated fadeInLeft">
            <h2><span class="glyphicon glyphicon-user"></span> Adrian Prieto</h2>
            <ul>
              <li>Ruby on Rails</li>
              <li>AngularJS</li>
              <li>Firebase</li>
              <li>Javascript</li>
              <li>HTML & CSS</li>
            </ul>
              <p>© 2016 Adrian Prieto, All rights reserved</p>
          </div>
        <div class="col-md-5 footer-nav animated fadeInUp">
            <h4>About Me</h4>
            <p>After many years managing a team in New York's  service industry,
              I found that patience and team work are the best recipe for success,
              I consider my self a problem solver and as such I realized my true
              passion was programming, reason why I enrolled the Flatiron School web
              developing program, I can't think of anything better than writing code.
              Seeing a project finished, is by it self my biggest reward.</p>
        </div>
        <div class="col-md-3 footer-social animated fadeInDown">
            <h4>Follow Me</h4>
            <ul>
                <li><a href="https://twitter.com/adrianprieto00" target="_blank">Twitter</a></li>
                <li><a href="https://github.com/aprietof" target="_blank">Github</a></li>
                <li><a href="https://www.linkedin.com/in/adrianprieto" target="_blank">Linkedin</a></li>
              </ul>
        </div>
      </div>
    </footer>
  </div>

</html>
